.search-list-container {
  width: 100%;
  z-index: 2;
  margin: 0 auto;
  padding: 0 0 0.5rem 0;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
  box-sizing: border-box;
}

.section-ul {
  font-size: 1rem;
  padding-left: 0;
  width: 100%;
  border-top: 1px solid rgba(249, 253, 253, 0.377);
}

.section-ul-title, .section-list-item {
  text-align: left;
}

.section-ul-title {
  padding-left: 8.5%;
  color: white;
  width: 97%;
  box-sizing: border-box;
}

.list-item-outer-container {
  width: 100%;
}

.section-list-item {
  margin: 0.25rem auto;
  border-radius: 3px;
  width: 97%;
  box-sizing: border-box;
  color: white;
}

.section-list-item:hover {
  background-color: #0066cceb;
  cursor: pointer;
}

.content-area-container {
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
}