.search-list-container {
  width: 100%;
  z-index: 2;
  margin: 0 auto;
  padding: 0 0 1rem 0;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.section-ul {
  font-size: 0.8rem;
  padding-left: 0;
  width: 100%;
}

.section-ul-title, .section-list-item {
  text-align: left;
}

.section-ul-title {
  padding-left: 12%;
  color: rgb(26, 27, 27);
  border-top: 1px solid rgba(26, 27, 27, 0.2);
}

.section-list-item {
  margin: 3px 5px;
  border-radius: 3px;
}

.section-list-item:hover {
  background-color: rgba(75, 73, 73, 0.3);
  cursor: pointer;
}